<app-navigation-exit></app-navigation-exit>

<div class="welcomeAdmin">
  <div class="welAdmin">
    <p id="welToPage">Welcome Super to Admin page</p>
    <br><br>
    <img src="assets/AdminPage/IMG_1678.PNG" width="100px" height="100px">
    <img src="assets/AdminPage/IMG_1678.PNG" width="100px" height="100px">
    <img src="assets/AdminPage/IMG_1678.PNG" width="100px" height="100px">
    <br><br>
    <p id="Nemo">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
      sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
  </div>
  <div class="adminOpp">
    <img src="assets/AdminPage/pic1.PNG" width="300px" height="200px">
    <h1>Your opportunity</h1>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
      sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
  </div>
  <br><br><br><br>
</div>

<app-sup-table></app-sup-table>

<app-footer></app-footer>
