<div class="millions">
  <br>
  <br><br>
  <p>Play millions of songs, for free.</p><br><br>
  <div class="millionsima">
    <img id="img1" src="/assets/homePage/img1.PNG" width="200">
    <h4>Listen everywhere</h4>
    <p>ForMusic works on your <br>computer, mobile, tablet and <br>TV.</p>
  </div>
  <div class="millionsima">
    <img id="img2" src="/assets/homePage/img2.PNG" width="200">
    <h4>Unlimited, ad-free music</h4>
    <p>No ads. No interruptions.<br> Just music.<br><br></p>
  </div>
  <div class="millionsima">
    <img id="img3" src="/assets/homePage/img3.PNG" width="200">
    <h4>Download music & listen offline</h4>
    <p>Keep playing, even when <br> you don't have a connection.<br><br></p>
  </div>
  <div class="millionsima">
    <img id="img4" src="/assets/homePage/img4.PNG" width="200">
    <h4>Premium sounds better</h4>
    <p>Get ready for incredible sound <br> quality.<br><br></p>
  </div><br><br>
</div>
