<header><ul>
  <img width="40px" height="40px" src="assets/logo2.PNG" alt="logo">
  <li class="li"><p style="color: #F2994A">For<br>Music</p></li>
  <li class="li2"><a routerLink="../home" >Home</a></li>
  <li class="li2"><a routerLink="../user" (click)="check()">Music</a></li>
  <li class="li2"><a routerLink="../home">About us</a></li>
  <li class="li2"><a routerLink="../support">Support</a></li>
  <li class="liB">
    <button class="login" routerLink="../login">Login</button>&nbsp;&nbsp;
    <button class="sign" routerLink="../signUp">Sign Up</button>
  </li>
</ul></header>

