@font-face {
  font-family: Montserrat;
  src: url("../../../../assets/mont.ttf");
}

.mainDiv{
  background: #F2F2F2;
  font-family: Montserrat;
}

.search{
  display: inline-block;
  margin-left: 2%;
}

.sbm{
  font-family: Montserrat;
}

.mth{
  font-family: Montserrat;
}

.sth{
  font-family: Montserrat;
  text-align: left;
}

.mainDiv h1{
  font-family: Montserrat;
  text-align: center;
}

table{
  margin-left: 7.5%;
}
